body {
  font-family: 'Livvic', sans-serif;
  margin: 5vmin;
}

nav {
  text-align: right;
}

header {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
}

h4 {
  margin: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

section {
  margin: 3rem 0;
  text-align: center;
}

ul {
  padding: 0;
  list-style: none inside none;
}

#wyszukiwarka {
  display: none;
}

footer {
  border-top: lightgray solid 1px;
  border-bottom: lightgray solid 1px;
  padding: 10px;
  text-align: center;
}
