body {
  font-family: 'Livvic', sans-serif;
  margin: 5vmin;
}

nav {
  text-align: right;
}

header {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
}

h4 {
  margin: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

section {
  margin: 3rem 0;
  text-align: center;
}

ul {
  padding: 0;
  list-style: none inside none;
}

.section-container {
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-flow: row wrap;
}

.section-container__block {

  padding: 2rem;
  margin: 1rem;
  flex: 1 1 0;
  text-align: center;
}

.section-container__block--project {
  border-color: white;
}


.nav__button:hover, :focus {
  color: blue;
}

.project__links {
  padding-top: 0.5em;
}

.project__link:hover, :focus {
  color: blue;
  cursor: pointer;
}

footer {
  text-align: center;
}

@media all and (max-width: 550px) {
  .section-container {
    flex-direction: column;
  }
}
